body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#bookForm {
    padding: 40px;
}

label{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: flex-start;
}
input {
  display: inline-block;
  width: 250px;
  
}

.library {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    width: clamp(500px, 80%, 900px);
}

.bookDiv {
    display: flex;
    justify-content: space-between;
    
    height: 2em;
}
legend {
    background-color: #333;
    color: #eee;
    padding: 3px 6px;
}

button {
    background-color: #333;
    font-size: 1.05em;
    font-weight: 400;
    color: #eee;
    border-radius: 5px;
}

.buttonHolder {
    display: flex;
    gap: 10px;
    margin: 5px;
}

.bookText {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.formSection {
    display: flex;
    display: none;
}

.formFieldSet {
    padding: 40px;
    background-color: #eee;
}

.formSection ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #333;
    display: flex;
    color: #eee;
    padding: 20px;
}

.addBook {
    height: 45px;
    width: 100px;
    margin: 20px;
}